<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Time Out</title>
    <style>
        body{
            text-align: center;
        }
        .session{
            text-align:inherit;
            width: 40%;
            padding: 5%;
            border-radius: 10px;
        }
        .mysession{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>
</head>
<body>
    <div class="session">
        <div class="mysession">
            <h2>Session Time Out</h2>
            <p>Please Log in again</p>
        </div>
    </div>
</body>
</html>